# ========================
# 💾 Python-related files
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# ⚙️ Virtual Environments & Dependencies
# ========================
.env
venv/
*.venv/

# ========================
# 📦 Build & Distribution
# ========================
build/
dist/
*.egg-info/

# ========================
# 🔄 Local Runner (Scripts)
# ========================
cli

# ========================
# 🛠 IDE & Editor Configs
# ========================
.vscode/
.idea/
*.iml

# ========================
# 🚀 Logs & Debugging
# ========================
orionis.log

# ========================
# 📂 Miscellaneous
# ========================
.DS_Store
Thumbs.db